/* TOC
  /*############### Body/fonter ###############*/
  /*############### Forside ###############*/
  /*############### Seksjoner ###############*/
    /*############### Felles ###############*/
    /*############### kode & design ###############*/
    /*############### Nettside ###############*/
    /*############### App ###############*/
    /*############### Markedsføring ###############*/
    /*############### Prototyping ###############*/
    /*############### Webhotell ###############*/
    /*############### Drift ###############*/
    /*############### SEO ###############*/
    /*############### Om oss ###############*/
    /*############### Footer ###############*/
    /*############### Notifications ###############*/
  /*############### Media/responsivitet fullskjerm ###############*/
  /*############### Media/responsivitet pad ###############*/
  /*############### Media/responsivitet mobil ###############*/
  /*############### Sidemeny ###############*/
  /*############### Kontaktskjema ###############*/
  /*############### Mobilmeny ###############*/
  /*############### Notifications ###############*/
  /*############### scrollbar ###############*/
/*############### Body/fonter ###############*/
body{margin:0;padding:0;width:100%;height:100%;}

@font-face {
 font-family: "MyCustomFont";
 src: url("myriad-set-pro_medium.eot") /* EOT file for IE */
}
/*@font-face {
 font-family: "MyCustomFont";
 src: url("myriad-set-pro_medium.ttf") /* TTF file for CSS3 browsers 
}*/
@font-face {
   font-family: "Beirut";
 src: url("Beirut.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
font-family: "Lucida Grande";
 src: url("LucidaGrande.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
font-family: "MyCustomFont";
 src: url("Avenir-Light.ttf") /* TTF file for CSS3 browsers */
}








/*############### Forside ###############*/
#home { 
  
  position:relative;
  width:100%;
  height:100%;
  margin: 0 auto; 
  z-index:3;
  overflow:hidden;
   
}

#home ul {
  padding:0;
  margin:0;

}
#home ul li {
  list-style-type: none;
}

#scene {
  width: 100%;
  height: 100%;
  padding:0;
  margin:0;
  
}

.backgroundh img{
  width: 105%; 
}

.mane {
  position: absolute;
  top:5%;
  left:85%;
}

.opera {
  position: absolute;
  left:50%;
  bottom:0%;
  width: 75%;
  min-width: 800px;
}

.opera img {
  width: 100%;
  min-width: 1400px;
  transform: translate(-50%, 0);
}
.bakerst {
  display:block;
  top:80%;
  position: absolute; 
  width: 105%;
}
.bakerst img {
  
  width: 100%;
  
}

.midt {
 
  top:80%;
  position: absolute; 
  width: 105%;
}
.midt img {
  
  width: 100%;
  
}
.front {
  display:block;
  top:87%;
  position: absolute; 
  width: 105%;
}
.front img {
  
  width: 100%;
  
}








.layer {
  position: absolute;
  height:100%;
  width: 100% }
  .layer div {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }
 


#logo1 {
  top:0%;
  width: 100%;
  display:block;
  
  z-index: 20;
  
}





/*############### Seksjoner ###############*/
/*############### Felles ###############*/

#about { 
  overflow: hidden;
  margin: 0 auto; 
  width: 100%;

background: rgba(64,64,64,1);
background: -moz-linear-gradient(top, rgba(169,119,194,1) 0%, rgba(169,119,194,1) 27%, rgba(112,109,204,1) 36%, rgba(112,109,204,1) 48%, rgba(106,148,181,1) 63%, rgba(106,148,181,1) 71%, rgba(104,194,118,1) 80%, rgba(104,194,118,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169,119,194,1)), color-stop(27%, rgba(169,119,194,1)), color-stop(36%, rgba(112,109,204,1)), color-stop(48%, rgba(112,109,204,1)), color-stop(63%, rgba(106,148,181,1)), color-stop(71%, rgba(106,148,181,1)), color-stop(80%, rgba(104,194,118,1)), color-stop(100%, rgba(104,194,118,1)));
background: -webkit-linear-gradient (top,  rgba(169,119,194,1) 0%, rgba(169,119,194,1) 27%, rgba(112,109,204,1) 36%, rgba(112,109,204,1) 58%, rgba(106,148,181,1) 63%, rgba(106,148,181,1) 71%, rgba(104,194,118,1) 80%, rgba(104,194,118,1) 100%);
background: -o-linear-gradient(top, rgba(169,119,194,1) 0%, rgba(169,119,194,1) 27%, rgba(112,109,204,1) 36%, rgba(112,109,204,1) 48%, rgba(106,148,181,1) 63%, rgba(106,148,181,1) 71%, rgba(104,194,118,1) 80%, rgba(104,194,118,1) 100%);
background: -ms-linear-gradient(top, rgba(169,119,194,1) 0%, rgba(169,119,194,1) 27%, rgba(112,109,204,1) 36%, rgba(112,109,204,1) 48%, rgba(106,148,181,1) 63%, rgba(106,148,181,1) 71%, rgba(104,194,118,1) 80%, rgba(104,194,118,1) 100%);
background: linear-gradient(to bottom, rgba(169,119,194,1) 0%, rgba(169,119,194,1) 27%, rgba(112,109,204,1) 36%, rgba(112,109,204,1) 48%, rgba(106,148,181,1) 63%, rgba(106,148,181,1) 71%, rgba(104,194,118,1) 80%, rgba(104,194,118,1) 100%); 
background-size:100% auto;
  font-size:2em;
  color:black;
  z-index:2;
  font-family: "MyCustomFont", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
 font-size: medium;
 overflow-x: hidden;
 
 
}


.hidden{
  opacity:0;
}
.right {
  left:50px;
}

.left {
  left:-50px;
}

.top {
  top:-50px;
}

.bottom{
  top:50px;
}

.products {
  font-size: 1.5em;
  padding-top: 200px;
  padding-bottom: 200px;
  
}

.forside {
  padding-top: 120px;
  padding-bottom: 120px;
}

.font {
    font-family: "MyCustomFont", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
    color:white;
    position: relative;
    vertical-align: middle;
    

}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.atitle {
border-bottom: 2px solid #FEE94E;
line-height: 0;
letter-spacing: 1px;
margin-bottom: 35px;
color: #fff;
}

.font h1 {
font-size: 2em;

}

.font h3 {
line-height: 1;
font-weight: 100;
font-size: 1.6em;
color: #FFFFFF ;
letter-spacing: 3.73px;
margin-bottom:25px;

}


.font p, .flp input, .flp textarea, .flp label {
font-size: 0.7em;
color: #FFFFFF ;
letter-spacing: 3px;
line-height: 35px;
font-weight: 100;
}

.text-muted {
  font-family: "MyCustomFont", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: 0.5em;
  letter-spacing: 2px;
}





 /*############### kode & design ###############*/
#kodedesign {
  
  background-color: #404040;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

.center {
  text-align: center;
}




/*############### Nettside ###############*/


#nettside img {
  position:relative;
  width:100%;
  z-index:2;
  margin-bottom: 5%;

}

/*############### App ###############*/

.appimg img {
width:300px;
}


/*############### Markedsføring ###############*/



.graf {
  position: absolute;
  top:15%;
  left:0%;

}

.graf img {
  width:100%;
  

}

/*############### Prototyping ###############*/
.hey {
  z-index: 3;
}

#cards {
  position:relative;
  z-index:1;
  width: 200px;
  top:0px;
  
}



/*############### Webhotell ###############*/



.sus {
  position: absolute;
  width:40%;
  left:-13%;
  top:-13%;
  z-index: 1;
  opacity: 0.2;
  min-width: 200px;
  transform: translate(50%, 0);
  margin: 0 auto;

}

#mob {
  display:none;
}

.box5 {
  position: relative;
  display:block;
  background-color: rgba(255,242,243,1);
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 21px 0px rgba(128,128,128,1);
  -moz-box-shadow: 10px 10px 21px 0px rgba(128,128,128,1);
  box-shadow: 10px 10px 21px 0px rgba(128,128,128,1);
  z-index: 10;
  

}


#hotell img {
  position:relative;
  width:100%;
  z-index:8;
  margin-bottom: 5%;
}

#hotell .col-md-4 {
  padding:0;
}

.no-padding {
  padding:0;
  margin:0;
}


.usynlig {
  opacity:0;
}

/*############### Drift ###############*/



#drift {

 position: relative;
 
}

#drift .font {
  z-index:3;

}

#drift img {
  position:relative;
  width:100%;
  z-index:2;
  margin-bottom: 0;

}

.fa-cog {
  
  position: absolute;
  opacity:0.4;

}

#cog{
   top:-20%;
  right:-45%;
  z-index: 1!important;
   font-size:60vw;
   color:grey;
}

#cog2 {
  top:45%;
  left:-25%;
  z-index: 1!important;
   font-size:35vw;
   color:grey;
}



.slow-spin {
  
}
#cog {
  animation-play-state: paused;
   -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.spin-clockwise {


-webkit-animation: spin 10s infinite linear;
  animation: spin 10s infinite linear;


}

.spin-fill-mode {
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.spin-counter-clockwise {
  -webkit-animation: spin-counter 7s infinite linear;
  animation: spin-counter 7s infinite linear;

}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes spin-counter {
  from {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}






/*############### SEO ###############*/

#fg {
  position:relative;
  z-index:2;
  width: 800px;
  left:-150px;
  top:-300px;
  -webkit-animation: myOrbit 6s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: myOrbit 6s linear infinite; /* Firefox 5-15 */
         -o-animation: myOrbit 6s linear infinite; /* Opera 12+ */
            animation: myOrbit 6s linear infinite; /* Chrome, Firefox 16+, 

                                                      IE 10+, Safari 5 */
}
.images {
  overflow:hidden;
  display:block;
  width: 395px;
  height: 655px;

}
@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(100px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(100px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(100px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(100px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(100px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(100px) rotate(-360deg); }
}


#sp {
position: absolute;
z-index:1;
left: 15px;
top:0;
    width: 400px;
}



#canvas {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
} 

.box8 {
  position: relative;
  display:block;
  background-color: #404040;
  margin-top: 75px;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 21px 0px rgba(128,128,128,1);
  -moz-box-shadow: 10px 10px 21px 0px rgba(128,128,128,1);
  box-shadow: 10px 10px 21px 0px rgba(128,128,128,1);
  z-index: 10;
}


/*############### Om oss ###############*/

#omoss {

  background-color: #404040;
}


 
/*############### Footer ###############*/

#footer { 
  background: #312f4c 50% 0 fixed; min-height: 190px; 
  
  margin: 0 auto; 
  margin:0;
  width: 100%;
  padding: 72px 0;
  position: relative; 
  font-size: 2em;
  
  z-index: 2;

}

#footer article {
  width:100%;

}

#footer i {
  vertical-align:top;
  padding-top:10px;

}

.frame {
 float:left;
}




#footer h2 {
font-size:0.6em;

}

#footer p {
font-size:0.5em;

}



a {
  color:white;

}





/*############### Media/responsivitet fullskjerm ###############*/

@media (min-width: 770px) {
  .logo1 {
  position:absolute;
  width:100%;
  left:50%;
  top:15%;
  
}
  .logo1 img {

    width:25%;
    min-width: 280px;
    
    transform: translate(-50%, 0);
  }

 #speiletsirkel {

margin-right:10rem;

  }


.rakett {
  position:absolute;
  bottom: 0;
  left:90%;
  z-index: 1!important;

}
.rakett2 {
  
  position:absolute;
  bottom:-30px;
  left:50%;
  z-index: 1!important;
}
  
 




    .fixedbackground {
        position: fixed;
        z-index:4;
        top:0%;
        display:block;
        font-size: 1.5em;
           
        color:white;

    }

    #page-content-wrapper {
        width: 100%;
        /*padding-left:280px;*/
      }

    .square {
        position:relative;
        width:30%;
        min-width:380px;
        height:280px;
        margin:0 auto;
        display:block;
        border-style: solid;
        border-width: 3px;
        border-color: white;
        left:10px;
      }
   
    .sidebar-wrapper {
      margin-left: -280px;
      padding-left:10px;
      width: 280px;
      background: #312F4C;
      position: fixed;
      height: 100%;
      overflow-y: auto;
      z-index: 4;
      transition: all 0.4s ease 0s;
      overflow-x: hidden;
      
    }

    
      .cog2 {
        position:relative;
        background: #312F4C;
        float:left;
        right:5px;
        top:180px;
        width:40px;
        height:50px;
        z-index:50;
        border-radius: 4px;
        z-index: 10;
        

    }

       .contactbut {
        position:relative;
        background: #312F4C;
        float:left;
        right:45px;
        top:250px;
        width:40px;
        height:50px;
        z-index:50;
        border-radius: 4px;
         z-index: 10;
        

    }

    .vertical {
     /* -ms-transform: rotate(90deg); /* IE 9 */
    /*-webkit-transform: rotate(90deg); /* Safari */
   /* transform: rotate(90deg); /* Standard syntax */
    padding-left: 10px;
    margin-top: 15px;
    color:#2ecc71;
    }


     .verticaLine {
      border-left: 2px solid rgba(255, 255, 255, 0.25);
      position:relative;
      top:30px;
      height: 20px;
      left:14px;
    
    }
 /*       .logo h3 {
      position: relative;
      top:-60px;
      left:80px;
      font-size: 0.2em;
      }
*/
    


  
  .navbar {
    display:none !important;
  }
  .navbar-brand {
    display:none !important;
  }
  .kommunikasjon {
  margin-top:10px;
  font-size: 1.5em; 
}
  .filter {
    width:500px;
    background-color:#404040;
  }

  .filter img {

    border-radius: 50%;
}


  
#circle-shape-example { 
 
  margin: 2rem; 
}

#circle-shape-example .curve { 
  width: 33%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:10rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();

  
}

#circle-shape-example .curve1 { 
  width: 35%; height: auto;
  min-width: 150px;
  float: right;
  margin: 2rem;
    -webkit-shape-outside:circle();
  shape-outside:circle();
 
  
}

}
/*############### Media/responsivitet pad ###############*/

@media only screen and (max-width: 770px) {
    .para p {
      width:100%!important;
    }
    .para {
      width:100%!important;
    }
    .logo1 {
      position:relative;
      margin:0 auto;
      padding:0 auto;
      top:50px;
      width: 280px;
    }

    .logo1 img {
      width: 250px;

    }
    #fixed {
      position:fixed;
      z-index:40;
      width:100%;
      top:35px;
      
    }
    
     
     .navbar {
      display: block;
      -webkit-box-shadow: 3px  3px 3px 0px rgba(0,0,0,0.7);
      -moz-box-shadow: 3px  3px 3px 0px rgba(0,0,0,0.7);
      box-shadow: 3px  3px 3px 0px rgba(0,0,0,0.7);

     }
     .navbar-brand {
      display:block;
      }
     .nav-down {
      display:block;
     }
     .nav-up {
      top:-200px;
     }
    .fixedbackground {
        position: fixed;
        z-index:50;
        top:0%;
        display:block;
        font-size: 1.5em;
        padding-left: 280px !important;
        transition: all 0.4s ease 0s;
        color:white;
        display:none;

    }

    .wrapper{
      padding-top:5px;

    }
    .sidebar-wrapper {
      margin-left: -280px;
      padding-left:10px;
      left: 280px;
      width: 280px;
      background: #312F4C;
      position: fixed;
      height: 100%;
      overflow-y: auto;
      z-index: 4;
      transition: all 0.4s ease 0s;
      
    }

     .verticaLine {
      border-left: 2px solid rgba(255, 255, 255, 0.25);
      position:relative;
      top:30px;
      height: 20px;
      left:14px;
    
    }
 /*    .logo h3 {
     position: relative;
      top:-60px;
      left:80px;
      font-size: 0.2em;
      }
*/
    .products{
   
    padding-top:200px;
    z-index:3;
    padding-left: 10px;
    padding-right: 10px;
    
    }

    #page-content-wrapper {
      width: 100%;
      
    }
    .kommunikasjon {
    margin-top:10px;
    font-size: 1.5em; 
  }
  #circle-shape-example .curve { 
  width: 100%; height: auto;
  
  min-width: 150px;
  
  border-radius: 50%;

  -webkit-shape-outside:circle();
  shape-outside:circle();

}
#circle-shape-example .curve1 { 
  width: 100%; height: auto;
  
  min-width: 150px;
  margin: 0 auto;
  
  -webkit-shape-outside:circle();
  shape-outside:circle();
 
  
}

#speiletsirkel {
  margin-left:0!important;
}


.rakett {
  position: absolute;
  bottom: 0;
  right:-120px;
  opacity:0.5;
  

}
.rakett2 {
  bottom:-40px;
  left:60%;
  display: none;
}

.sus {

  display:none;
}


}
/*############### Media/responsivitet mobil ###############*/
@media only screen and (max-width: 544px) {
  .forside {
      padding-top: 50px;
      padding-bottom: 50px;
    }


  .hidden {
    opacity: 1;
  }

  .left {
    left:0;
  }

  .right {
    left:0;
  }

  .top {
    top:0;
  }

  .bottom {
    top:0;
  }

  .box5 {
    display:none;
  }
  #mob {
   display:block;

  }

  #mob img {
    width:70px; 
    position:relative; 
    float:left;
    padding-top: 20px;
    
  }

  #cog{
   top:0%;
  right:-45%;

}

  #cog2 {
    top:8%;
    left:-20%;
    
    
  }
  .proimg {
    display: block;
    margin: 0 auto;

  }
    #cards {
    position:relative;
    z-index:1;
    width: 200px;
    width: 100%;
    top:0px;
    left:0;
    }

    .products{
   
    padding-top:50px;
    padding-bottom:50px;
    z-index:3;
    padding-left: 5px;
    padding-right: 5px;
    
    }
    .box8 {
      display:none;
    }
    .flp input, .flp label{
    width:100%;

    }

    .images {
      display:none;
    }

    .font h1 {
      font-size: 1.7em;
    }

    .font h3 {
      font-size: 1.2em;
    }
  
}

/*############### Sidemeny ###############*/

.wrapper {
  padding-top: 10px;

}
.logo {
font-family: 'Great Vibes', cursive;
font-size: 4em;
margin:0;
padding:0;

}


.field-wrap {
    height: 50px;
}


.field-wrap:hover {
  cursor: pointer;
}
.field-wrap:hover p {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.field-wrap:hover .checkbox {
  border-color: #2ecc71;
}
.field-wrap:first-child {
  border-top: 0;
}
.field-wrap p {

  float: left;
  margin-left: 10px;
  line-height: 30px;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.checkbox {
  float: left;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  position: relative;
  cursor: pointer;
}
.checkbox:before {
  content: "";
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 15px;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  background-color: #2ecc71;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.checkbox.checked, .verticaline.checked {
  border-color: #2ecc71;
}
.checkbox.checked:before {
  width: 10px;
  height: 10px;
}

.green {
  cursor: pointer;
}
.green:hover {
  color:#2ecc71;

}
/*############### Kontaktskjema ###############*/


.modal-content {
  background-color: #455B8C;

-webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.7);
  box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.7);
}
.modal .container {
padding:50px;

}

.flp fieldset {position: relative; margin-bottom: 40px;}

.flp input, .flp label{
  width: 400px; display: block;
  font: inherit; font-size: 16px; line-height: 24px;
  /*fixed height for FF line height issue. 
  height = 24(lineheight) + 10*2(padding) + 2(border)*/
  height: 46px;
  border: 1px solid #999;
}
.flp input, .flp textarea {padding: 20px; outline: none; border-radius: 3px; background-color: #455B8C;}
.flp label {
  position: absolute; left: 0; top: 0;
  /*left/right padding will be 2px less, adjusted by padding on .ch*/
  padding: 10px 8px;
  border-color: transparent; color: white;
  cursor: text;
}

/*label styles*/
.ch {
  display: block; float: left;
  position: relative; /*for upward animation*/
  background: #455B8C; 
}
.ch:first-child {padding-left: 2px;}
.ch:last-child {padding-right: 2px;}

/*active input label*/
.focussed {
  /*when any input is already focussed clicking on it(label) again won't do anything*/
  pointer-events: none;
}

/*############### Mobilmeny ###############*/
.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
  display:        inline;
  font-family: "MyCustomFont", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size:      2em;
  padding:        0px 20px;

  }  


.navbar {
  padding: 7px;
  
}

.navbar h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 1.6em;
 

}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    
}

/*############### Notifications ###############*/



.notifications {
  position: fixed;
  right: 0;
  top: 240px;
  z-index: 2;
  padding: 0;
  margin: 0; 
}

 .notifications li {
    
    width: 180px;
    list-style-type: none;

}
.notifications li:first-child {
  border-top: 0; 
}

/*############### scrollbar ###############*/
/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}
section.page:not(.focus):not(:hover)::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track,::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 999px;
}
::-webkit-scrollbar-track {
  ** box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset; **
}
::-webkit-scrollbar-thumb {
  
  background-clip: content-box;
  ** box-shadow: 0 0 0 5px hsla(24, 20%, 50%,.4) inset; **
  min-height: 20px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.display {
  display: none;
}
/*############### loader ###############*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
 
